# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/.htaccess
/wp-config-sample.php
/wp-config.php
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/ewww/